.img{
    height: 12rem;
    width: 13rem;
    padding: 0;
    border-radius: 3px;
    transition: 500ms ease;
}
.skill{
    color:rgb(11, 11, 11);
    font-size: 200%;
    position:relative;
    bottom:-1rem;
    left:1.5rem;
    color: rgb(197, 197, 197);
}
.js{
    font-size: 200%;
    position:relative;
    bottom:11rem;
    left:1.5rem;
    color: grey;
}
